<a href="https://colab.research.google.com/github/victor-radermecker/Capstone_JPMorgan/blob/branch-FDIC/FDIC_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Â https://github.com/dpguthrie/bankfind
!pip install bankfind

In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount = True)

Mounted at /content/drive

In [16]:
import bankfind as bf
import pandas as pd

In [28]:
institutions = bf.get_institutions()

In [36]:
institution_names = {}
for element in institutions['data']:
  if element['NAME'] not in institution_names:
    institution_names[element['NAME']] = 1
  else:
    institution_names[element['NAME']] += 1

In [42]:
res = list(filter(lambda x: 'JPMorgan Chase' in x, institution_names.keys()))

In [43]:
res

['JPMorgan Chase Bank, Dearborn', 'JPMorgan Chase Bank, National Association']

In [4]:
locations = bf.get_locations()

In [19]:
locations['data'][0]

{'ZIP': '63376',
 'CBSA_NO': '41180',
 'CBSA_METRO_NAME': 'St. Louis, MO-IL',
 'BKCLASS': 'NM',
 'FI_UNINUM': 429739,
 'STNAME': 'Missouri',
 'CSA': 'St. Louis-St. Charles-Farmington, MO-IL',
 'COUNTY': 'St. Charles',
 'MAINOFF': 1,
 'OFFNAME': '1st Advantage Bank',
 'CBSA_METRO_FLG': '1',
 'CBSA_MICRO_FLG': '0',
 'CSA_NO': '476',
 'CBSA_METRO': '41180',
 'CBSA_DIV_NO': '',
 'RUNDATE': '06/23/2023',
 'NAME': '1st Advantage Bank',
 'UNINUM': 429739,
 'SERVTYPE': 11,
 'CSA_FLG': '1',
 'STCNTY': '29183',
 'CBSA': 'St. Louis, MO-IL',
 'CBSA_DIV': '',
 'CBSA_DIV_FLG': '0',
 'CITY': 'Saint Peters',
 'ADDRESS': '240 Salt Lick Rd',
 'CERT': '57899',
 'STALP': 'MO',
 'OFFNUM': 0,
 'ESTYMD': '01/31/2005',
 'ID': '429739'}

In [20]:
df = pd.DataFrame(columns = ['zip', 'bank', 'address'])

for i, element in enumerate(locations['data']):
  df.loc[i] = [element['ZIP'], element['NAME'], element['ADDRESS']]

In [21]:
df.head()

     zip                bank                   address
0  63376  1st Advantage Bank          240 Salt Lick Rd
1  85336       1st Bank Yuma  645 N William Brooks Ave
2  85364       1st Bank Yuma            2799 S 4th Ave
3  85364       1st Bank Yuma            1800 S 4th Ave
4  85621       1st Bank Yuma           825 N Grand Ave

In [22]:
from collections import Counter

In [27]:
Counter(df.bank).most_common()[:5]

[('Bank of America, National Association', 4040),
 ('BMO Harris Bank National Association', 1056),
 ('Bank OZK', 247),
 ('Arvest Bank', 225),
 ('Associated Bank, National Association', 206)]

<font color='red'> weird that Chase not there, they actually have the most branches <font>