In [25]:
import pandas as pd
import sys

sys.path.append('../src')
from SequenceDataLoader import SequenceDataLoader

In [26]:
df = pd.read_csv('../Outputs/Test/urbanization_test.csv')
df.head()

,tile_id,batch_id,year,urbanization_rate,urbanization,Lat,Lon
0,0,0,2017,0.0,0.0,36.869991,-80.170884
1,0,0,2018,0.0,0.0,36.869991,-80.170884
2,0,0,2019,0.0,0.0,36.869991,-80.170884
3,0,0,2020,0.0,0.0,36.869991,-80.170884
4,0,0,2021,0.0,0.0,36.869991,-80.170884

In [34]:
len(df.batch_id.unique)

TypeError: object of type 'method' has no len()

In [36]:
len(df.batch_id.unique())

84

In [39]:
len(df.tile_id.unique())

329149

In [40]:
329149 / 84

3918.440476190476

In [30]:
labels = [2016, 2017, 2018, 2019, 2020, 2021, 2022]
list_IDs = df["tile_id"].tolist()
train_dir = '../Images/Test'

In [33]:
# Initialize the SequenceDataLoader for training data
train_data_loader = SequenceDataLoader(
    list_IDs,
    labels,
    train_dir,
    dim=(40, 44),
    batch_size=10,
    n_channels=1,
    shuffle=True,
)

TypeError: SequenceDataLoader.__init__() missing 1 required positional argument: 'mask_dir'