In [1]:
import pandas as pd
import os

In [4]:
years = [2019]
kind = {'dfw': range(3), 'desert': range(3), 'sah': range(5)}
kind = {'dfw': range(3), 'desert': [1,2], 'sah': range(5)}

In [5]:
for k, v in kind.items():
    # if k == 'dfw' or k == 'desert':
    for y in years:
        for slice in v:
            if y == years[0] and slice == 0:
                df = pd.DataFrame()
            elif slice == 0:
                df_sub = pd.DataFrame()

            try:
                df_sub2 = pd.read_csv(os.path.join('../Data/Exports', '{}_{}_year_export_{}_raw_value_counts.csv'.format(k, slice, y)), index_col=0)
                fishnet = pd.read_pickle(os.path.join('../Data', 'fishnet_filtered_{}_{}.pkl'.format(k, slice)))
                df_sub2['geometry'] = fishnet['geometry']
                df_sub2.rename(columns={'perc_built': '{}_perc_built'.format(y)}, inplace=True)
            except:
                pass

            if y == years[0]:
                df = pd.concat([df, df_sub2])
            else:
                df_sub = pd.concat([df_sub, df_sub2])

        if y != years[0]:
            df['{}_perc_built'.format(y)] = df_sub['{}_perc_built'.format(y)]
    
    # dataframes[k] = df
    df.to_pickle('/home/ubuntu/avapsi/conv-lstm/Capstone_JPMorgan/Data/Exports/{}_year_export_2019.pkl'.format(k))

In [7]:
desert1 = pd.read_csv('/home/ubuntu/avapsi/conv-lstm/Capstone_JPMorgan/Data/Exports/desert_1_year_export_2019_raw_value_counts.csv')
desert2 = pd.read_csv('/home/ubuntu/avapsi/conv-lstm/Capstone_JPMorgan/Data/Exports/desert_2_year_export_2019_raw_value_counts.csv')

In [13]:
desert_year_export_2019 = pd.concat([desert1, desert2])

In [12]:
desert_year_export_2019.to_pickle('/home/ubuntu/avapsi/conv-lstm/Capstone_JPMorgan/Data/Exports/desert_year_export_2019.pkl')

In [14]:
desert_year_export_2019

        Unnamed: 0  tile_no  perc_built
0                0        0    0.000000
1                1        1    0.000000
2                2        2    0.000000
3                3        3    0.000000
4                4        4    0.000000
...            ...      ...         ...
198336      198336   198336    7.021277
198337      198337   198337    0.155682
198338      198338   198338    0.000000
198339      198339   198339    0.000000
198340      198340   198340    9.734043

[398341 rows x 3 columns]